# sentiment analysis on imdb movie review

In [2]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Users\\poojapatra\\Downloads\\IMDB DATASET.csv')
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [3]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [4]:
df=df.sample(10000)

In [5]:
df.shape

(10000, 2)

In [6]:
df.info

<bound method DataFrame.info of                                                   review sentiment
13919  As a movie this barely rates a 4 but for movie...  positive
31374  This is without a doubt the funniest of the Cu...  positive
31817  The Captain and Tennille have released a very ...  positive
23017  I was talked into watching this movie by a fri...  negative
26361  When Nathaniel Kahn embarked into this voyage,...  positive
...                                                  ...       ...
47140  In an early scene, Luca (David Pasquesi) and J...  positive
44545  This movie is outrageous, funny, ribald, sophi...  positive
30930  I'm generally not a fan of high school comedie...  negative
4882   4 Oscar winners, Karl Malden, Sally Field, Shi...  negative
43038  This film has a special place in my heart as t...  negative

[10000 rows x 2 columns]>

In [7]:
df['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [8]:
df.head()

                                                  review  sentiment
13919  As a movie this barely rates a 4 but for movie...          1
31374  This is without a doubt the funniest of the Cu...          1
31817  The Captain and Tennille have released a very ...          1
23017  I was talked into watching this movie by a fri...          0
26361  When Nathaniel Kahn embarked into this voyage,...          1

In [9]:
#removing all the html tags by using the regular expression library
import re
clean=re.compile('<.*?>')
re.sub(clean,'',df.iloc[2].review)

"The Captain and Tennille have released a very good 3 DVD package with minimal editing. Unlike most variety show releases these shows have not been hacked to bits. The musical and dance numbers are included with the skits just as they were when first broadcast. I suspect that some musical numbers on the DVD may have been edited into shows in which they did not originally appear but have been unable to verify that suspicion. I've noticed a few inconsistencies between what is on the DVD and program information I've found on the net. I've been unable to verify whether the net information is inaccurate or if the musical performances have been edited into the shows on the DVD. Whatever the truth may be, I'm very appreciative of the efforts made by the production company. I wish every variety show released would show the same respect for the format. I would guess about half the shows broadcast are included. I believe they ran into rights problems on the shows which weren't included. Hopefully those issues can be resolved and a Volume 2 can be released sometime in the future. There are some individual music videos along with a dance rehearsal among the extras. I recommend this DVD to any C&T fan."

In [10]:
#function to clean all html tags
def clean_html(text):
    clean =re.compile('<.*?>')
    return re.sub(clean,'',text)

In [11]:
#applying it to all the review column
df['review']=df['review'].apply(clean_html)

In [12]:
#then now converting all characters into lower case using the apply function
def convert_lower(text):
    return text.lower()

In [13]:
df['review']=df['review'].apply(convert_lower)

In [14]:
#now removing the special characters.
def remove_special(text):
    x=''
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x+' '
    return x

In [15]:
df['review']=df['review'].apply(remove_special)

In [16]:
#removing the stop words
import nltk

In [17]:
from nltk.corpus import stopwords

In [18]:
def remove_stopwords(text):
    x=[]
    for i in text.split():
        if i not in stopwords.words('english'):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [19]:
df['review']=df['review'].apply(remove_stopwords)

In [20]:
df

                                                  review  sentiment
13919  [movie, barely, rates, 4, movie, fans, 1940s, ...          1
31374  [without, doubt, funniest, curly, stooges, sho...          1
31817  [captain, tennille, released, good, 3, dvd, pa...          1
23017  [talked, watching, movie, friend, blubbered, c...          0
26361  [nathaniel, kahn, embarked, voyage, hardly, kn...          1
...                                                  ...        ...
47140  [early, scene, luca, david, pasquesi, james, j...          1
44545  [movie, outrageous, funny, ribald, sophisticat...          1
30930  [generally, fan, high, school, comedies, rely,...          0
4882   [4, oscar, winners, karl, malden, sally, field...          0
43038  [film, special, place, heart, worst, movie, ev...          0

[10000 rows x 2 columns]

In [21]:
#now stemming
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [22]:
y=[]
def stem_words(text):
    for i in text:
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z

In [23]:
df['review']=df['review'].apply(stem_words)

In [24]:
df

                                                  review  sentiment
13919  [movi, bare, rate, 4, movi, fan, 1940, period,...          1
31374  [without, doubt, funniest, curli, stoog, short...          1
31817  [captain, tennil, releas, good, 3, dvd, packag...          1
23017  [talk, watch, movi, friend, blubber, cute, sto...          0
26361  [nathaniel, kahn, embark, voyag, hardli, knew,...          1
...                                                  ...        ...
47140  [earli, scene, luca, david, pasquesi, jame, je...          1
44545  [movi, outrag, funni, ribald, sophist, hit, bu...          1
30930  [gener, fan, high, school, comedi, reli, heavi...          0
4882   [4, oscar, winner, karl, malden, salli, field,...          0
43038  [film, special, place, heart, worst, movi, eve...          0

[10000 rows x 2 columns]

In [25]:
#joining back
def join_back(list_input):
    return " ".join(list_input)

In [26]:
df['review']=df['review'].apply(join_back)

In [27]:
df['review']

13919    movi bare rate 4 movi fan 1940 period almost m...
31374    without doubt funniest curli stoog short seen ...
31817    captain tennil releas good 3 dvd packag minim ...
23017    talk watch movi friend blubber cute stori yuck...
26361    nathaniel kahn embark voyag hardli knew father...
                               ...
47140    earli scene luca david pasquesi jame jeff garl...
44545    movi outrag funni ribald sophist hit bullsey 9...
30930    gener fan high school comedi reli heavili humo...
4882     4 oscar winner karl malden salli field shirley...
43038    film special place heart worst movi ever seen ...
Name: review, Length: 10000, dtype: object

In [28]:
X=df.iloc[:,0:1].values

In [29]:
X.shape

(10000, 1)

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [31]:
X=cv.fit_transform(df['review']).toarray()

In [32]:
X.shape

(10000, 36173)

In [33]:
y=df.iloc[:,-1].values

In [34]:
y.shape

(10000,)

In [35]:
#using the machine learning algo
from sklearn.model_selection import train_test_split
X_train , X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [36]:
X_train.shape

(8000, 36173)

In [37]:
X_test.shape

(2000, 36173)

In [38]:
y_train.shape

(8000,)

In [39]:
y_test.shape

(2000,)

In [40]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [41]:
clf1=GaussianNB()
clf2=MultinomialNB()
clf3=BernoulliNB()

In [42]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)
clf3.fit(X_train,y_train)

BernoulliNB()

In [43]:
y_pred1=clf1.predict(X_test)
y_pred2=clf2.predict(X_test)
y_pred3=clf3.predict(X_test)

In [44]:
y_test.shape

(2000,)

In [45]:
y_pred1.shape

(2000,)

In [46]:
from sklearn.metrics import accuracy_score

In [47]:
print("Gaussian",accuracy_score(y_test,y_pred1))
print("Multinomial",accuracy_score(y_test,y_pred2))
print("Bernaulli",accuracy_score(y_test,y_pred3))

Gaussian 0.65
Multinomial 0.8455
Bernaulli 0.8405